
body {
	background-color: #302D41;

}

p {
	font-family: "Cascadia-Code";
	padding-left: 20%;
	color: #F28FAD;
}


.list {
	font-family: "Cascadia-Code";
	padding-left: 20%;
	color: #ABE9B3;
}
a {
	color: #B5E8E0;
}
a:hover {
	font-style: italic;
	color: #F28FAD;
}

.site-title {
	font-family: "Cascadia Code";
	font-weight: bold;
	font-size: 5vw;
	padding-top: 10%;
	padding-left: 20%;
	color: #F5E0DC;
}

.title {
	font-family: "Cascadia Code";
	font-weight: bold;
	font-size: 30pt;
	padding-top: 10%;
	padding-left:20%;
	color: #F5E0DC;
}


#lasga {
	padding-left: 20%;
}

#pfp{ /*properties of the dumb little aliexpress guy*/
	padding-top: 7%;
	height: 96px;
	width: 96px;
}

#hey{ /*flexbox in about.html*/
	display: flex;
}

ul {
	font-family: "Cascadia-Code";
	padding-left: 20%;
	color: #ABE9B3;
}

.title {
	font-family: "Cascadia Code";
	font-weight: bold;
	font-size: 30pt;
	padding-top: 10%;
	padding-left:20%;
	color: #F5E0DC;
	

}
@font-face {
    font-family: 'Cascadia-Code'; /*a name to be used later*/
    src: url(ttf/CascadiaCode.ttf); /*URL to font*/
}
